.timer {
  width: 100%;
}

.timer__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.timer__content_type_error {
  flex-direction: column-reverse;
}

.timer__main {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 22vw;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -0.05em;
  transition: 0.5s;
}

.timer__main_type_error {
  font-size: 5vw;
}

.timer__phase {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 4vw;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 3px;
}

.timer__phase_type_error {
  font-size: 6vw;
  font-weight: 600;
  margin-bottom: 100px;
  transform: scale(1, 1.3);
}

@media (max-width: 480px) {
  .timer__main {
    font-size: 17vw;
  }
}
